{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="confirmation-container">
    <div class="confirmation-prompt">
        You are in low bandwidth mode. Would you like to display a 3D Map, 2D Map, or neither?
    </div>
    <div class="confirmation-choices has-three-choices">
        <button class="confirmation-neither is-neutral">
            <span>
                Neither
            </span>
        </button>
        <button class="confirmation-2D is-negative">
            <span>
                2D map
            </span>
        </button>
        <button class="confirmation-3D is-negative">
            <span>
                3D map
            </span>
        </button>
    </div>
</div>